$icomoon-font-family: "deekshaanand" !default;
$icomoon-font-path: "../fonts" !default;

$ds-whatsapp-path1: unquote('"\\e900"');
$ds-whatsapp-path2: unquote('"\\e901"');
$ds-whatsapp-path3: unquote('"\\e907"');
$ds-whatsapp-path4: unquote('"\\e908"');
$ds-tiktok-path1: unquote('"\\e909"');
$ds-tiktok-path2: unquote('"\\e90a"');
$ds-youtube-path1: unquote('"\\e90b"');
$ds-youtube-path2: unquote('"\\e90c"');
$ds-youtube-path3: unquote('"\\e90d"');
$ds-insta-path1: unquote('"\\e90e"');
$ds-insta-path2: unquote('"\\e90f"');
$ds-insta-path3: unquote('"\\e910"');
$ds-insta-path4: unquote('"\\e911"');
$ds-insta-path5: unquote('"\\e912"');
$ds-insta-path6: unquote('"\\e913"');
$ds-twitter-path1: unquote('"\\e914"');
$ds-twitter-path2: unquote('"\\e915"');
$ds-twitter-path3: unquote('"\\e916"');
$ds-facebook-path1: unquote('"\\e917"');
$ds-facebook-path2: unquote('"\\e918"');
$ds-plus: unquote('"\\e902"');
$ds-minus: unquote('"\\e903"');
$ds-left-arrow: unquote('"\\e904"');
$ds-right-arrow: unquote('"\\e905"');
$ds-phone: unquote('"\\e906"');
